<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login - {% trans %}title{% endtrans %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" sizes="16x16">

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
</head>
<body>

<main>
    <div class="container">
        <div class="row mt-5 text-center text-white">
            <div class="col-md-12">
                <h1>{% trans %}title{% endtrans %}</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% if error %}
                                <div class="alert alert-danger text-center">
                                    {% trans %}template.security.login.email.or.password.wrong{% endtrans %}
                                </div>
                            {% endif %}

                            <div class="mb-3">
                                <label class="form-label" for="inputEmail">{% trans %}template.security.login.email{% endtrans %}</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="inputPassword">{% trans %}template.security.login.password{% endtrans %}</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            </div>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button class="btn btn-primary" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
