{% extends 'base.html.twig' %}

{% block title %}Categories - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>
                            Add a category
                        </h5>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(form.name) }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12">
                                {{ form_row(form.save) }}
                            </div>
                        </div>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>
                            Categories
                        </h5>
                    </div>
                    <div class="card-body">
                        {% if categories is empty %}
                            <p class="text-center text-danger">No categories available yet</p>
                        {% else %}
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 10%">#</th>
                                        <th scope="col" style="width: 80%">Name</th>
                                        <th scope="col" style="width: 10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set i = 1 %}
                                    {% for category in categories %}
                                        <tr>
                                            <th scope="row" style="width: 10%">{{ i }}</th>
                                            <td style="width: 80%">{{ category.name }}</td>
                                            <td style="width: 10%">-</td>
                                        </tr>
                                        {% set i = i + 1 %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
