{% extends 'base.html.twig' %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>
                            Add an expense
                        </h5>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_row(form.amount) }}
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    {{ form_row(form.category) }}
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    {{ form_row(form.note) }}
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    {{ form_row(form.dueDate) }}
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-md-12">
                                    {{ form_row(form.save) }}
                                </div>
                            </div>

                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
