{% set invalidateCache = 'tg35123rt3f3fg' %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans %}title{% endtrans %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" sizes="16x16">

    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.min.css') }}?invalidate-cache={{ invalidateCache }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}?invalidate-cache={{ invalidateCache }}" rel="stylesheet">
    {% endblock %}

    {% block javascript_start %}{% endblock %}
</head>
<body>

{% include 'layout/navigation.html.twig' %}

{% include 'layout/flash.html.twig' %}

<main>
    {% block body %}{% endblock %}
</main>

{% include 'layout/footer.html.twig' %}

{% block javascript_end %}
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}?invalidate-cache={{ invalidateCache }}"></script>
    <script src="{{ asset('js/main.js') }}?invalidate-cache={{ invalidateCache }}"></script>
{% endblock %}
</body>
</html>
